# Ignore sensitive information
secrets

# Ignore config files that might contain sensitive information
*.config

# Ignore all files and directories created by minikube
.minikube/

# Ignore WSL temporary and log files
*.log
*.tmp

# Ignore Visual Studio Code specific files
.vscode/
*.code-workspace

# Ignore node_modules for JavaScript/Node.js projects (if any)
node_modules/

# Ignore build artifacts
build/
dist/

# Ignore Docker specific files
docker-compose.override.yml
.docker/

# Ignore MacOS specific files
.DS_Store

# Ignore Linux file system files
*~
.nfs*

# Ignore Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore any IDE specific files
.idea/
*.iml

# Ignore Kubernetes resource file backup
*.bak
